<mat-toolbar color="primary">
	<button mat-button (click)="sidenav.open ()" ><mat-icon>menu</mat-icon></button>
	<span>Technology News Headlines</span>
	<span class="my-spacer"></span>
	<button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>settings</mat-icon></button>
</mat-toolbar>
<mat-menu #appMenu="matMenu">
	<button mat-menu-item> Settings </button>
	<button mat-menu-item> Help </button>
</mat-menu>
<mat-sidenav-container class="my-container">

	<mat-sidenav #sidenav class="my-sidenav">
		<mat-list class="list-nav">
			<mat-list-item class="list-item" *ngFor="let source of mSources"
				(click)="searchArticles(source.id);sidenav.close();">

				<span class="source-name"> {{source.name}}</span>

			</mat-list-item>
		</mat-list>
	</mat-sidenav>
	<mat-card class="my-card" *ngFor="let article of mArticles">
		<mat-card-header>
			<mat-card-title class="title">{{article.title}}</mat-card-title>
			<mat-card-subtitle>{{article.source.name}}</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image class="img-article" src={{article.urlToImage}} alt="">
		<mat-card-content>
			<p>
				{{article.description}}
			</p>
		</mat-card-content>
    <share-buttons [theme]="'material-light'"
      [include]="['facebook','twitter','whatsapp','line']"
      [show]="5"
      [showCount]="true"
      [size]="-1"
    ></share-buttons>
		<mat-card-actions class="action-buttons">
			<a mat-button color="primary" href={{article.url}} target="_blank">
				<mat-icon>visibility</mat-icon> More
			</a>
		</mat-card-actions>
	</mat-card>
</mat-sidenav-container>